<%= form_for(@questionnaire) do |f| %>
  <% if @questionnaire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@questionnaire.errors.count, "error") %> prohibited this questionnaire from being saved:</h2>

      <ul>
      <% @questionnaire.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :medication %><br />
    <%= f.text_field :medication %>
  </div>
  <div class="field">
    <%= f.label :medication_effectiveness %><br />
    <%= f.select :medication_effectiveness, 1..10 %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.select :age, 1..10 %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.select :gender, 1..10 %>
  </div>
  <div class="field">
    <%= f.label :fatigue %><br />
    <%= f.select :fatigue, 1..10 %>
  </div>
  <div class="field">
    <%= f.label :as_pain %><br />
    <%= f.select :as_pain, 1..10 %>
  </div>
  <div class="field">
    <%= f.label :other_pain %><br />
    <%= f.select :other_pain, 1..10 %>
  </div>
  <div class="field">
    <%= f.label :localized_discomfort %><br />
    <%= f.select :localized_discomfort, 1..10 %>
  </div>
  <div class="field">
    <%= f.label :wakeup_discomfort %><br />
    <%= f.select :wakeup_discomfort, 1..10 %>
  </div>
  <div class="field">
    <%= f.label :morning_stiffness %><br />
    <%= f.select :morning_stiffness, 1..11 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
